*{
    border:2px solid red;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


p{
    text-transform: uppercase;
    padding: 10px;
    margin: 20px;
    
}

span{
    
    padding: 10px;
    margin: 10px;
    display: inline-block;
    font-size: 1.5rem;
    color: rgba(0, 3, 7, 0.651);
    background-color: #e4f35b;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
}

a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: #ebb9b9;
    text-decoration: none;
}

ul{
    list-style: none;
    text-align: end;
    padding: 20px;

}
li{
    color: rgb(12, 10, 110);
    display: inline;
    font-size: 2rem;
    text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}