*{
    width: 0;
    height: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}


:root{
    --primary-text-color: ;
    --secondart-text-color: ;
    --accent-color: ;
    --accent-color-dark: ;
    --padding-inline-section:20px;
    
}